@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";


:root {
  /* Brand Colors */
  --primary: #0F2C5C;
  --primary-light: #1A3A6B;
  --accent: #FF6B35;
  --success: #10B981;

  /* Neutral Colors */
  --background: #FFFFFF;
  --foreground: #1F2937;
  /* Gray-800 */
  --gray-bg: #F3F4F6;
  --gray-light: #E5E7EB;
  --gray-medium: #9CA3AF;
  --gray-text: #6B7280;
}

.dark {
  --background: #121212;
  /* Dark gray instead of almost black */
  --foreground: #FAFAFA;
  /* Almost white text */
  --gray-bg: #1f1f1f;
  /* Neutral dark gray for sections */
  --gray-light: #262626;
  /* Neutral lighter gray for borders/inputs */
  --gray-medium: #737373;
  --gray-text: #A3A3A3;

  /* Adjust Brand Colors for Dark Mode */
  --primary: #60A5FA;
  /* Softer blue for dark mode text */
  --primary-light: #93C5FD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-accent: var(--accent);
  --color-success: var(--success);

  --color-gray-bg: var(--gray-bg);
  --color-gray-light: var(--gray-light);
  --color-gray-medium: var(--gray-medium);
  --color-gray-text: var(--gray-text);

  --font-sans: var(--font-sans);
}


@layer utilities {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    contain: content;
  }
}